<h1>This is event binding!!!</h1><hr>
<br>

<button (click)="display()" style="margin: 20px">Click Me!!!!</button>

<br>

<hr><br>

<label>
  User Name:
  <input type="text"[formControl]="uname">
  </label>

  <p>
    User Name is {{uname.value}}
  </p>
  <br>
  <p>
    <button (click)="updateName()">Update name to Amitava!!!!</button>
  </p>

  <br>
  <h2>All products in tabular form as follows </h2>
  <br>
  <app-products></app-products>

  <hr>
  <br>
  <app-servicelayer></app-servicelayer>
  